# Backup and temporary files
*~
*.autosave
*.temp

# Ignore .DS_Store
.DS_Store

# Ignore makefiles
Makefile

# Ignore core dumps
core

# Ignore prefix directories
prefix*

# Ignore temp directories
temp*

# Ignore logs
logs/
*.log

